name: Push Playstore

on:
  workflow_call:
  workflow_dispatch: # manual

jobs:
  release-playstore:
    name: Google Playstore Release
    runs-on: ubuntu-latest
    steps:
      - name: Retrieve Androids Artifacts
        uses: actions/download-artifact@v4
        with:
          name: android-artifact
          path: builds/
        
      - name: Upload Release
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: com.dbadrian.zest
          releaseFiles: builds/app-release-signed.aab
          track: zest
          status: completed
          # status: completed
          # changesNotSentForReview: true
          # inAppUpdatePriority: 2
          # whatsNewDirectory: distribution/whatsnew
          # mappingFile: app/build/outputs/mapping/release/mapping.txt
          # debugSymbols: app/intermediates/merged_native_libs/release/out/lib