name: Backend & Frontend Test

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"  # Ignore all tags
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 * * *"
  workflow_call:
  workflow_dispatch:

jobs:
  secret-scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }} # Only required for Organizations, not personal accounts.
  
  test-backend:
    runs-on: ubuntu-latest
    env:
      ZEST_ENV: test
    steps:
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v3

      - name: Test
        run: task backend:test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: backend/coverage/coverage.xml
          flags: backend
          token: ${{ secrets.CODECOV_TOKEN }}


  # test-frontend:
  #   runs-on: ubuntu-latest
  #   # needs: [prepare-frontend-environment]
  #   env:
  #     ZEST_ENV: dev
  #   defaults:
  #     run:
  #       working-directory: frontend
  #   steps:
  #     - uses: actions/checkout@v3

  #     - uses: subosito/flutter-action@v2
  #       with:
  #         channel: stable
  #         # flutter-version: 3.27.0
  #         cache: true

  #     - run: flutter --version
  #     - run: flutter --disable-analytics
  #     - name: Install Ubuntu Dependencies
  #       run: sudo apt-get install --no-install-recommends -y lcov sqlite3 libsqlite3-dev libsecret-1-0 libsecret-1-dev

  #     - name: Prepare environment.
  #       run: flutter pub get

  #     - uses: actions/cache@v4
  #       name: Build Runner Cache
  #       id: flutter_build_runner_cache
  #       with:
  #         path: ./frontend/lib/
  #         key: flutter_build_runner_cache_${{ runner.os }}_${{ github.sha }}

  #     - name: Build Runner
  #       if: steps.flutter_build_runner_cache.outputs.cache-hit != 'true'
  #       run: flutter pub run build_runner build --delete-conflicting-outputs

  #     - name: Check formatting
  #       run: dart format --set-exit-if-changed .

  #     - name: Static code analysis (no-fatal-infos)
  #       run: flutter analyze . --no-fatal-infos --no-fatal-warnings

  #     - name: Install Task
  #       uses: arduino/setup-task@v2
  #       with:
  #         version: 3.x
  #         repo-token: ${{ secrets.GITHUB_TOKEN }}

  #     - name: Initialize backend
  #       run: |
  #         cd ..
  #         cp backend/.env.test backend/.env.dev
  #         task backend:dev:init
  #         task backend:dev:detach

  #     - name: Tests
  #       run: |
  #         flutter test --coverage --concurrency 1

  #     - name: Generate Coverage
  #       run: |
  #         lcov --ignore-errors unused --remove coverage/lcov.info 'lib/*/*.freezed.dart' 'lib/*.g.dart' 'lib/*/*.part.dart' 'lib/generated/*.dart' 'lib/generated/*/*.dart' -o coverage/lcov.info

  #     - name: Upload coverage to Codecov
  #       uses: codecov/codecov-action@v3
  #       with:
  #         files: coverage/lcov.info
  #         flags: frontend
  #         token: ${{ secrets.CODECOV_TOKEN }}
